{% extends 'base.html' %}
{% block title %}Reglas del servidor{% endblock %}
{% block header %}
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Reglas generales del servidor
        </h1>
        <h2 class="subtitle">
          ¡Pórtate bien! Nuestra meta es pasarla bien y evitar los malos ratos.
        </h2>
        <p><em>Última actualización: 06 de mayo de 2018, 22:10.</em></p>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds is-narrow has-text-justified content">
    <ol class="is-size-6">
      <li>
        <strong>Usa el sentido común.</strong>
      </li>
      <li>
        Conversación sólo en Español e Inglés (éste último de preferencia en <em>#english</em>).
      </li>
      <li>
        Respeta a todos por igual. El (auto) doxxing está completamente prohibido.
        Si te sientes víctima de acoso, da aviso directo al staff.
      </li>
      <li>
        No spam (repetir mensajes, uso de mayúsculas, taggear usuarios, mini-modding, etc).
        Spam de comandos permitido sólo en #bots y las invitaciones a Spotify en #musica.
        Las invitaciones a otros servidores deben ser aprobadas por el staff.
      </li>
      <li>
        Evitar desvirtuar conversaciones (chat y voz). Usar dichos canales sabiamente.
        El staff podría solicitar mover una conversación a otro canal si se considera off-topic.
      </li>
      <li>
        El contenido explícito y sugerente sólo puede ir en #nsfw. El gore está prohibido.
      </li>
      <li>
        No se permiten enlaces fraudulentos ni links con referidos. El staff podría solicitar un análisis de
        <a href="https://www.virustotal.com/es/" title="Análisis de archivos online">VirusTotal</a> para aceptar un enlace.
      </li>
      <li>
        En caso de dudas, sumado a nuestras reglas, seguiremos las Community Guidelines de Discord,
        las cuales pueden ser revisadas en: <a href="https://discord.cl/guidelines">https://discord.cl/guidelines</a>.
      </li>
      <li>
        Nos reservamos el derecho de admisión y de eliminar contenido sin previo aviso (dando la respectiva razón).
      </li>
    </ol>
    <article class="message is-spaced-top">
      <div class="message-body">
        Cualquier otra acción que pueda ser considerada molesta o no adecuada para la sana convivencia dentro del
        servidor, podrá ser considerada como objeto de sanción. Las reglas y sanciones correspondientes serán aplicadas
        dependiendo de la gravedad del hecho.
      </div>
    </article>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds is-narrow has-text-justified content">
    <h3 id="english">English version</h3>
    <ol class="is-size-6">
      <li>
        <strong>Use your common sense.</strong>
      </li>
      <li>
        Conversations only in Spanish or English (the former preferably in <em>#english</em>).
      </li>
      <li>
        Respect everyone equally. If you feel victim of harassment, please contact the Staff.
      </li>
      <li>
        No spam (repeated messages, excessive use of caps, tagging users, mini-modding, etc.).
        Bot command spam allowed only in #bots. Spotify invitations must go on #music.
        Invitations to other servers must be approved by the Staff.
      </li>
      <li>
        Avoid derailing conversations (voice and/or text chat). Use those channels wisely.
        The staff can move any conversations it deems appropriate if it’s considered off-topic.
      </li>
      <li>
        Explicit and suggestive content must go on #nsfw only. Gore is forbidden.
      </li>
      <li>
        Fraudulent or referral links are forbidden. Staff can ask for a
        <a href="https://www.virustotal.com/es/" title="Análisis de archivos online">VirusTotal</a>
        analysis to accept a link.
      </li>
      <li>
        In case of any doubt, along with our rules, we follow Discord’s Community Guidelines. They can be read here:
        <a href="https://discordapp.com/guidelines">https://discord.cl/guidelines</a>.
      </li>
      <li>
        We reserve the right to admission and to eliminate any content without previous advice,
        given proper justification.
      </li>
    </ol>
    <article class="message is-spaced-top">
      <div class="message-body">
        Any other action deemed annoying or inadequate for the convivence inside the server, could be object of
        sanction. Rules will be applied depending on the severity of the situation and the staff’s discretion.
      </div>
    </article>
  </div>
</div>
{% endblock %}