{% extends 'base.html' %}
{% block title %}Reglas del servidor{% endblock %}
{% block header %}
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Reglas generales del servidor
        </h1>
        <h2 class="subtitle">
          ¡Pórtate bien! Nuestra meta es pasarla bien y evitar los malos ratos.
        </h2>
        <p><em>Última actualización: 22 de enero de 2017, 12:05.</em></p>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds is-narrow has-text-justified content">
    <ol class="is-size-6">
      <li>
        #general es el canal principal de chat y puede mantenerse una conversación
        fluida en este siempre y cuando no se centralice en un solo tema; 
        <em>para esto existen canales especializados</em>. Los usuarios deben comunicarse
        en español o en inglés (este último en el canal #english, de preferencia).
      </li>
      <li>
        <strong>No se permite el spam</strong> (múltiples mensajes de forma consecutiva
        intencionalmente) o el uso reiterado de mayúsculas. <strong>El spam de comandos sólo
        está permitido en el canal #bots.</strong> El spam de menciones está prohibido en
        todos los canales.
      </li>
      <li>
        <strong>NSFW sólo en el canal #nsfw</strong>:
        Contenido para mayores de edad, ya sea material pornográfico, gore, y cualquiera de
        tipo NSFW (not safe for work; no seguro para ser visto por cualquiera), <strong>sólo está
        permitido en el canal #nsfw</strong>, <em>mientras sean legales</em> bajo la jurisdicción correspondiente.
      </li>
      <li>
        <strong>Debes respetar a todos los usuarios.</strong> Cualquier tipo de odio a diversos
        grupos de gente, además de discutir y organizar actos en su contra, están 
        prohibidos. Si te sientes víctima de cualquiera de estas acciones, da aviso 
        directo al staff.
      </li>
      <li>
        No se permiten los enlaces fraudulentos ni links de referidos. Queda a 
        discreción del staff catalogar enlaces como tal y/o solicitar un análisis de 
        <a href="https://www.virustotal.com/es/" title="Análisis de archivos online">VirusTotal</a>
        para permitirlos. Links de invitación a otros servidores pueden ser publicados, sólo con
        previa autorización del staff.
      </li>
      <li>
        Este servidor de Discord <strong>no es un medio para compra y venta</strong>, por lo que el
        staff no se hará responsable de las transacciones realizadas en él, buscando 
        <em>limitarlas al mínimo.</em>
      </li>
      <li>
        Los usuarios pueden hacer sugerencias, reclamos y apelaciones de manera 
        directa al staff o mediante un canal especial para ello, previa solicitud por 
        cualquier medio. Sin embargo, <strong>no está permitido que los usuarios tomen
        atribuciones del staff</strong>. Cualquier irregularidad debe ser notificada directamente
        al staff.
      </li>
      <li>
        <strong>Evitar desvirtuar conversaciones y hacer ruidos molestos en los canales de
        voz</strong>. Adicionalmente, se debe evitar saltar o cambiar la música y temática que
        otros han puesto en el canal Música, a no ser que sea de mútuo acuerdo.
      </li>
      <li>
        En caso de dudas, sumado a nuestras reglas, seguiremos las
        <a href="https://discordapp.com/guidelines">Community Guidelines de Discord</a> (disponible en inglés).
      </li>
    </ol>
    <article class="message is-spaced-top">
      <div class="message-body">
        Cualquier otra acción que no esté dentro de las reglas, pero que pueda ser
        considerada molesta o no adecuada para la sana convivencia dentro del servidor,
        también podrá ser considerada como objeto de sanción. El simple hecho de no
        cumplir con estas reglas no necesariamente corresponderá con una sanción directa;
        la reiteración de estos sí lo hará, dependiendo de la gravedad del hecho, y de la
        flexibilidad del staff. <strong>Nos reservamos el derecho de admisión y de eliminar
        contenido sin previo aviso.</strong>
      </div>
    </article>
  </div>
</div>
{% endblock %}